@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ruda&display=swap');
*{
    font-family: 'Ruda', sans-serif;
    scroll-behavior: smooth;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
h1,h2{
    font-family: 'Fredoka One', cursive;
}
.itemNav {
    list-style: none;
}
.navTitulo{
    z-index: 2;
}
.nav li{
    z-index: 2;
}
.navegador {
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.olasCelestesClarasDown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.olasCelestesClarasDown svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 186px;
}

.custom-shape-divider-bottom-1621624693 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1621624693 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 277px;
}

.custom-shape-divider-bottom-1621624693 .shape-fill {
    fill: #04B2D9;
}

.footerGlobal{
    background-color: #04B2D9;
}
.home {
    margin-top: 50px;
}
.homeTexto {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}
.homeTextoTitulo p{
    font-size: 80px;
    font-family:'Fredoka One';
}
.homeImg img{
    width: 100%;
    height: auto;
}
.googleApple{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.logoApp{
    width: 150px;
    height: auto;
}
.tarjeta{
    background-color: #F24C27;
}
.tarjetaDescripcion{
    padding-top: 50px;
}
.tarjetaDescripcion1{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.tarjetaDescripcion1 li{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
}
.tarjetaDescripcion2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tarjetaDescripcion2 img{
    width: 400px;
    height: auto;
}
.tarjetaDescripcionTexto{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}
.tarjetaIconos{
    width: 60px ;
    height:auto ;
}
.contenedorTarjeta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0; 
}
.cajaTarjeta {
    position: relative;
    width: 100%;
    height: auto;
}
.seccionComentarios{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.comentario {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.comentarioTitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.comentarioCajas{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #04B2D9;
    width: 30%;
}
.comentarioCajasFoto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.comentarioCajasFotoImg{
    width: 100%;
    height: auto;
}
.seguridad {
    margin-top: 100px;
}
.seguridadContenedor{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.seguridadTexto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.seguridadCaja{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}
.seguridadTitulo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.seguridadImg img{
    width: 100%;
    height: auto;
}
.seguridadIconos{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50px;
}
.seguridadIconos img{
    width: 100%;
    height: auto;
}
.preciosHome {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}
.preciosHomeCeropeso {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.precioHomeSigno{
    text-align: center;
    font-family:'Fredoka One', cursive;
    font-size: 60px;
    color: #04B2D9;
}
.precioHomeCero{
    text-align: center;
    font-family:'Fredoka One', cursive;
    font-size: 100px;
    color: #04B2D9;
}
.precioHomeTitulo{
    text-align: center;
    font-family:'Fredoka One', cursive;
    font-size: 60px;
}
.precioHomeBoton {
    padding: 18px 36px;
    border: none;
    border-radius: 61px;
    box-shadow: inset 0 0 0 2px #04B2D9;
    transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);
}
.precioHomeBoton:hover {
    box-shadow: inset 0 0 0 4px #04B2D9;
    color: #04B2D9;
}


/* descripcion */ 

.home2Texto {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home2Texto p {
    position:absolute;
    font-size: 80px;
    font-family:'Fredoka One';
}
.home2Img img{
    width: 100%;
    height: auto;
    z-index: 3;
}

.beneficiosCajas{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.marcas{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #053259;
    height: 200px;
    width: 400px;
    margin-top: 10px;
}
.marcasLogo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.marcasLogo Img{
    width: 50px;
    height: auto;
}
.marcasTexto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
}

.precios{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.preciosTitulo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.preciosTitulo h2{
    font-size: 70px;
}
.preciosDescripcion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.preciosDescripcionCajas{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.caja{
    margin-top: 10px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #F24C27;
}
.caja2 {
    margin-top: 10px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #04B2D9;
}
.caja3 {
    margin-top: 10px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #F29F05;
}
.cajaTitulo{
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.cajaTexto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.preciosDescripcionImg img{
    width: 100%;
    height: auto;
}
.novedades{
    background-color:#F29F05 ;
}
.novedadesInfoTitulo p{
    text-align: center;
    font-family:'Fredoka One', cursive;
    font-size: 80px;
}
.novedadesBitcoin {
    display: flex;
    flex-flow: row wrap;
}
.novedadesBitcoinImg{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.novedadesBitcoinImg img{
    width: 100%;
    height: auto;
}
.novedadesBitcoinTexto{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/*Quienes somos*/
.quienesSomos{
    margin-top: 58px;
    background-color:#F29F05 ;
}
.quienesSomosTitulo {
    padding: 80px;
    display: flex;
    justify-content: center;
}
.quienesSomosTitulo h2{
    font-size: 80px;
}
.quienesSomosDescripcionTexto {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin-top: 80px;
}
.quienesSomosCajaTexto{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.quienesSomosCajaImg {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.quienesSomosCajaImg img{
    width: 100%;
    height: auto;
}
.quienesSomosDescripcionTextoh3 h3{
    font-size: 50px;
}
.pilares{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.pilaresTitulo{
    display: flex;
    justify-content: center;
}
.pilaresContenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.pilaresCaja{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F24C27;
    border-radius: 1rem;
    margin-top: 10px;
}
.pilaresCajaImg {
    border-radius:80%;
    background-color: #053259;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.pilaresCajaImg img{
    padding: 10px;
    width: 50px;
    height:auto;
}
.pilaresCajaTitulo {
    margin-top: 10px;
}
.pilaresCajaTexto{
    display: flex;
    justify-content: center;
    width: 70%;
}
/*soporte */ 
.preguntas{
    background-color: #ee795f;
    margin-top: 58px;
}
.preguntasBuscador{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.preguntasBarra{
    width:50%;
    margin:10px;
    padding:10px 16px;
    border-radius:32px;
    outline:none;
    border:2px solid #F29F05;
    background:#F29F05;
    transition:all 0.5s;
}
.preguntasBarra:focus{
    background:#F29F05;
    width:100%;
}
.preguntasImg{
    display: flex;
    justify-content: center;
}
.preguntasImg img {
    width: 50%;
    height: auto;
}
.errores {
    display: flex;
    align-items: center;
}
.erroresTitulo {
    display: flex;
    justify-content: center;
}
.erroresTitulo h2{
    font-size: 80px;
}
.erroresImg  {
    width: 100%;
    height: auto;
}
.erroresImg img {
    width: 100%;
    height: auto;
}
.form{
    margin-top: 50px;
    width:300px;
    background:#e6e6e6;
    border-radius:8px;
    padding:20px 30px;
    box-sizing:border-box;
}
.form h2{
    margin:10px 0;
    padding-bottom:10px;
    width:100%;
    color:#0D0D0D;
    border-bottom:3px solid #053259;
}
.formLlenar{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #04B2D9;
}
.formLlenar:focus{
    border-bottom:2px solid #053259;
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border:2px solid #F29F05;
    background:0;
    color:#0D0D0D;
    cursor:pointer;
    transition:all .3s;
    border-radius: 1rem;
}
button:hover{
    background:#F29F05;
    color:#fff;
}


@media (max-width:1000px){
    .tarjetaDescripcion2 {
        display: none;
    }
    .tarjetaDescripcion{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .homeTextoTitulo p{
        font-size: 40px;
        font-family:'Fredoka One';
    }
    .home2Texto p{
        font-size: 40px;
        font-family:'Fredoka One';
    }
    .beneficiosCajas{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    .preciosDescripcionImg{
        display: none;
    }
    .novedadesInfoTitulo p{
        font-size: 40px;
    }
    }