@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Ruda&display=swap');
*{
    font-family: 'Ruda', sans-serif;
    
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
h1,h2{
    font-family: 'Fredoka One', cursive;
}
.itemNav {
    list-style: none;
}
.navTitulo{
    z-index: 2;
}
.nav li{
    z-index: 2;
}

.olasCelestesClarasDown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.olasCelestesClarasDown svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 186px;
}

.custom-shape-divider-bottom-1621624693 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1621624693 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 277px;
}

.custom-shape-divider-bottom-1621624693 .shape-fill {
    fill: #04B2D9;
}

.footerGlobal{
    background-color: #04B2D9;
}
.home {
    margin-top: 50px;
}
.homeTexto {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;
}
.homeImg {
    display: flex;
    flex-flow: row wrap;
}
.homeImg img{
    width: 716px;
    height: auto;
    z-index: 3;
}
.googleApple{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.logoApp{
    width: 150px;
    height: auto;
}
.tarjeta{
    background-color: #F24C27;
}
.tarjetaDescripcion{
    padding-top: 50px;
}
.tarjetaDescripcion1{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
.tarjetaDescripcion2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tarjetaDescripcion2 img{
    width: 400px;
    height: auto;
}
.tarjetaDescripcionTexto{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
}
.tarjetaIconos{
    width: 30px;
    height: auto;
    margin-left: 5px;
}
.contenedorTarjeta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0; 
}
.cajaTarjeta {
    position: relative;
    width: 400px;
    height:  261px;
}
.cajaTarjetaImgen{
    width: 400px;
    height: auto;
}
.seguridad {
    margin-top: 100px;
}

.pasoTexto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
}
.seguridadTexto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.seguridadImg {
    display: flex;
    flex-flow: row wrap;
}
.seguridadImg img{
    width: 600px;
    height: auto;
}
.seguridadIconos{
    width: 30px;
    height: auto;
    margin-left: 5px;
}

/* descripcion */ 

.home2Texto {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home2Img {
    display: flex;
    flex-flow: row wrap;
}
.home2Img img{
    width: 716px;
    height: auto;
    z-index: 3;
}

.beneficiosCajas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.marcas{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #053259;
    height: 200px;
    width: 400px;
    margin-top: 10px;
}
.marcasLogo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}
.marcasLogo Img{
    width: 50px;
    height: auto;
}
.marcasTexto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
}

.precios{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.preciosTitulo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.preciosDescripcion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.preciosDescripcionCajas{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.caja{
    margin-top: 10px;
    width: 450px;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #F24C27;
}
.caja2 {
    margin-top: 10px;
    width: 450px;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #04B2D9;
}
.caja3 {
    margin-top: 10px;
    width: 450px;
    border-radius: 1rem;
    box-shadow: -5px 5px 10px 0.2px  rgb(172, 131, 131);
    background-color: #F29F05;
}
.cajaTitulo{
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.cajaTitulo button{
    border: none;
    outline:none;
}
.cajaTexto{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.preciosDescripcionImg img{
    width: 500px;
    height: auto;
}
/* Responsive */ 
@media  (max-width:795px){
    
    .home {
        margin-top: 100px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    .homeTexto {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .homeImg {
        display: none;
    }
    .tarjeta{
        width: 100%;
        background-color: #F24C27;
    }
    .tarjetaDescripcion{
        padding-top: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .tarjetaDescripcion1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .tarjetaDescripcion2{
        display: none;
    }
    .seguridad {
        display: none;
        
    }
    }

@media (min-width:796px) and (max-width:1000px){
    
.home {
    margin-top: 100px;
}
.homeTexto {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.homeImg {
    display: flex;
    flex-flow: row wrap;
}
.homeImg img{
    width: 350px;
    height: auto;
    z-index: 3;
}
.tarjeta{
    width: 100%;
    background-color: #F24C27;
}
.tarjetaDescripcion{
    padding-top: 50px;
}
.tarjetaDescripcion1{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.tarjetaDescripcion2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tarjetaDescripcion2 img{
    width: 200px;
    height: auto;
}
.seguridad {
    margin-top: 100px;
}
.seguridad h2{
    padding-left: 30px
}
.pasoTexto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
}
.seguridadTexto {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}
.seguridadImg {
    display: flex;
    flex-flow: row wrap;
}
.seguridadImg img{
    width: 300px;
    height: auto;
}
}

@media (min-width:1000px) and (max-width:1400px){
    
    .home {
        margin-top: 100px;
    }
    .homeTexto {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .homeImg {
        display: flex;
        flex-flow: row wrap;
    }
    .homeImg img{
        width: 500px;
        height: auto;
        z-index: 3;
    }
    .tarjeta{
        width: 100%;
        background-color: #F24C27;
    }
    .tarjetaDescripcion{
        padding-top: 50px;
    }
    .tarjetaDescripcion1{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .tarjetaDescripcion2{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .tarjetaDescripcion2 img{
        width: 350px;
        height: auto;
    }
    .seguridad {
        margin-top: 100px;
    }
    .seguridad h2{
        padding-left: 30px
    }
    .pasoTexto {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 200px;
        height: 200px;
    }
    .seguridadTexto {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
    }
    .seguridadImg {
        display: flex;
        flex-flow: row wrap;
    }
    .seguridadImg img{
        width: 450px;
        height: auto;
    }
    }